.container {
	position: relative;

	container-type: inline-size;
}

.image {
	height: 15rem;
	width: 100%;
}

.previousButton,
.nextButton {
	position: absolute;
	top: 50%;

	border: none;

	background: none;

	translate: -50% 0;
	cursor: pointer;

	> * {
		scale: 1.25;
	}
}

.previousButton {
	left: 2rem;

	rotate: -90deg;
}

.nextButton {
	right: 1rem;

	rotate: 90deg;
}

.indicator {
	position: absolute;
	inset: auto auto 1rem 50%;

	font-size: 1.25rem;
	color: white;

	translate: -50% 0;
}

.hidden {
	display: none;
}

@container (width >= 42rem) {
	.image {
		height: 26rem;
	}

	.nextButton,
	.previousButton {
		scale: 2.5;
	}
}
