@use "../global/mixins.scss" as m;

.error {
	@include m.flexbox(column, 7rem, nowrap, center, center);
	flex-grow: 1;

	padding: 7rem 0;

	&__name {
		font-size: 6rem;
	}

	&__message {
		max-width: 15rem;

		text-align: center;
	}
}

@media screen and (width >= 38rem) {
	.error {
		&__name {
			font-size: 15rem;
		}

		&__message {
			max-width: 100%;
			font-size: 2rem;
		}
	}
}
